body {
	/*13px/1.231*/
	font:87.5%/125% arial,helvetica,clean,sans-serif;
	*font-size:small;
	*font:x-small;
}
select,
input,
button,
textarea {
	font:99% arial,helvetica,clean,sans-serif;
}
table {
	font-size:inherit;
	font:100%;
}
pre,
code,
kbd,
samp,
tt {
	font-family:monospace;
	*font-size:108%;
	line-height:100%;
}
h1 {
	font-size:138.5%;
}
h2 {
	font-size:123.1%;
}
h3 {
	font-size:108%;
}
