@charset "utf-8";

@import url(normalize.css);
@import url(reset.css);
@import url(font.css);

.clearfix:after,
header:after,
footer:after,
aside:after,
.search:after{
	visibility: hidden;
	display: block;
	content: ' ';
	clear: both;
	height: 0;
	font-size: 0;
}

*::selection{
	color: #fff;
	background: #09c;
}
*::-moz-selection{
	color: #fff;
	background: #09c;
}
*::-webkit-selection{
	color: #fff;
	background: #09c;
}

html{
	height: 100%;
}

body{
	min-height: 100%;
	position: relative;
	font-family: Helvetica, Microsoft Yahei, Tahoma, Arial, Serif, sans-serif;
}

header{
	background: #323232;
}
header h3, header nav{
	float: left;
}
header a{
	display: inline-block;
}
header h3{
	font-size: 150%;
}
header h3 a{
	padding: 1rem;
}
header h3 i{
	font-style: normal;
}
header nav{
	padding: 0 1rem;
}
header nav a{
	padding: 1rem 2rem;
	position: relative;
	font-size: 108%;
	color: #fff;
}
header nav a:after{
	content: ' ';
	height: .36rem;
	bottom: 0;
	position: absolute;
	transition: all .24s;
}
header nav a:after, header nav:hover a:after, header nav:hover a.active:after{
	width: 0; left: 50%;
}
header nav a:hover:after, header nav a.active:after, header nav a.active:hover:after{
	width: 100%; left: 0;
}
header nav a.index:after{
	background: #09c;
}
header nav a.star:after{
	background: #f00;
}
header nav a.job:after{
	background: #0c6;
}
header nav a.tool:after{
	background: #f60;
}


footer{
}
footer address{
	padding: .5rem 0;
	text-align: center;
	color: #fff;
	background: #363636;
}


aside{
	padding: 2rem 0 0;
}
aside dl{
	margin-bottom: 2rem;
}
aside h1{
	line-height: 138.5%;
	position: relative;
}
aside h2{
	display: inline;
}
aside h1:before{
	content: ' ';
	width: .36rem; height: 100%;
	display: block;
	left: -1.5rem; top: 0;
	position: absolute;
	border-radius: .125rem;
}
aside dl.deep h1:before, aside dl.deep a:hover{
	background: #09c;
}
aside dl.sky h1:before, aside dl.sky a:hover{
	background: #0cf;
}
aside dl.green h1:before, aside dl.green a:hover{
	background: #0c6;
}
aside dl.orange h1:before, aside dl.orange a:hover{
	background: #f90;
}
aside dl.red h1:before, aside dl.red a:hover{
	background: #f00;
}
aside dt, aside dd{
	padding: .5rem 0;
	vertical-align: top;
}
aside dt{
	line-height: 2rem;
}
aside dd{
	line-height: 1.5rem;
}
aside ul{
	margin: 0 -.5rem;
}
aside li, aside a{
	display: inline-block;
}
aside li{
	width: 19.5%;
	margin-bottom: .5rem;
}
aside dd a{
	padding: .125rem .5rem .075rem;
	border-radius: .125rem;
	color: #484848;
	cursor: pointer;
}
aside dd a:hover{
	color: #fff;
}


section{
	width: 1000px;
	margin: 0 auto;
	padding: 2rem 0;
}


dl.drop dd{
	display: none;
}
dl.drop:hover dd{
	display: block;
}
i.caret{
	width: 0; height: 0;
	border-left: .4rem solid transparent;
	border-right: .4rem solid transparent;
	border-top: .4rem solid;
}


.panel{
	padding: 2rem 0;
}

.tip{
	padding-bottom: .5rem;
	font-size: 120%;
	color: #acacac;
}
.tip li{
	margin-right: 3rem;
	display: inline;
}

.search{
	border: 2px solid transparent;
	border-radius: .125rem;
}
.search dl.drop, .search input, .search button{
	font-size: 120%;
}
.search dl.drop, .search input{
	float: left;
}
.search button{
	float: right;
}
.search dl.drop{
	width: 10%;
	position: relative;
	cursor: pointer;
	border-right: 2px solid transparent;
}
.search dl.drop:hover i.caret{
	transform: rotate( 180deg );
}
.search dl.drop dt, .search dl.drop dd bdo{
	padding: .75rem 1rem;
}
.search dl.drop dt{
	line-height: 123.5%;
	position: relative;
}
.search dl.drop dt i.caret{
	top: 1.25rem; right: .25rem;
	position: absolute;
	transition: all .24s;
}
.search dl.drop dd{
	top: 100%;
	left: -2px; right: -2px;
	position: absolute;
	border: 2px solid transparent;
	background: #fff;
	border-radius: 0 0 .2rem .2rem;
}
.search dl.drop dd bdo{
	display: block;
}
.search dl.drop dd bdo:hover{
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
.search input, .search button{
	padding: .75rem;
	border: none;
}
.search input{
	width: 70%;
}
.search button{
	width: 20%;
	color: #fff;
}
.search{
	border-color: #3c96c8;
}
.search dl.drop{
	border-right-color: #3c96c8;
}
.search dl.drop dd{
	border-color: #3c96c8;
}
.search dl.drop dt i.caret{
	border-top-color: #3c96c8;
}
.search dl.drop bdo:hover{
	background: #3c96c8;
}
.search button{
	background: #3c96c8;
}
